<h1>Bài 1 + 2
    
</h1>
<div class="container">
    <div class="row">
        
        <div class="col-sm-4">
            Nhập x : <input type="text" [(ngModel)]="x" name="" id="">
            
        </div>
        <div class="col-sm-4">
            Nhập n : <input type="text" [(ngModel)]="n" name="" id="">
            
        </div>
        <div class="col-sm-2">
            <button (click)="Bai1()" class="btn btn-success">Bài 1</button>
            <button (click)="Bai2()" class="btn btn-success">Bài 2</button>
        </div>
      
            
        
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">{{ rs }}</div>
    </div>
</div>
